p{
    text-align:justify;
}

.tabla_portada 
{
    padding:10px;    
}

.tabla_portada td{
    padding-left:10px;
}


.tabla_formulario 
{
    width:90%;
    margin-left:10px;
    border-color:#808080;
}

.tabla_formulario tr
{
    background-color:#fbfbfb;
    border-color:#808080;

}

.tabla_formulario td
{
    text-align:left;
    border-color:#808080;
   
}

.tabla_formulario td.etiqueta
{
    text-align:center;
    background-color:#5D7B9D;
    font-weight:bold;
    color:#FFF;
    width:120px;
    border-color:#808080;
}

.tabla_formulario td.error
{
    text-align:center;
    color:#D7091D;
    font-size: small;
}

