p{
    text-align:justify;
}

.tabla_portada 
{
    padding:10px;    
}

.tabla_portada td{
    padding-left:10px;
}


.tabla_formulario 
{
    width:98%;
    margin-left:10px;
    border-color:#808080;
}

.tabla_formulario tr
{
    background-color:#fbfbfb;
    border-color:#808080;

}

.tabla_formulario td
{
    text-align:left;
    border-color:#808080;
   
}

.tabla_formulario td.etiqueta
{
    text-align:center;
    background-color:#5D7B9D;
    font-weight:bold;
    color:#FFF;
    width:120px;
    border-color:#808080;
}

.tabla_formulario td.error
{
    text-align:center;
    color:#D7091D;
    font-size: small;
}

.mensaje_confirmacion{
    display:inline-block;
    width:300px;
    border:1px solid #0a0;
    color:#090;
    background-color#DEFAFA;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    text-align:center;
    font-weight:bold;  
}

.mensaje_error{
    display:block;
    width:300px;
    border:1px solid #a00;
    color:#900;
    background-color#FADEDE;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    text-align:center;
    font-weight:bold;
}
